# generic files
*~
*.lock
*.swp
*.out

# java specific
*.class

# project specific files
load.list

# project specific folders
eXO_Storage_Root
FreePastry-Storage-Root
classes
FreePastry.git
.sass-cache
