/*
  Aggregates all the middle container styles.
*/

#middle-wrapper {
  background:none repeat scroll 0 0 $middle-bgcolor;
  padding:0;
}

#middle-container{
}

#content-header-wrapper {
  height:80px;
  margin:0 0 2em;
  padding:0px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-box-shadow:0px 1px 1px #cfcfcf;
  -moz-box-shadow:0px 1px 1px #cfcfcf;
  background-color:#FFF;
  border: {
    width:0 1px 1px;
    style: solid;
    color: #D6D1CA;
  }
  overflow:hidden;
}

#content-header{
  height:80px;
  position:relative;
  overflow:hidden;

  h2 {
    padding:0.5em 1em;
    img {
      vertical-align: middle;
    }
    span {
      color: #9D6B00;
    }
  }

  ul {
    position:absolute;
    bottom:0px;
    right: 50px;
    font-size:1.2em;
    color:#FFF;
    text-shadow:none;

    li {
      padding:0 0 0.25em;
      a {
        padding:0.5em;
        background-color: $middle-menucolor;
        border-radius: 2px 2px 0 0;
        -moz-border-radius-topleft:2px;
        -moz-border-radius-topright:2px;
        &:hover{
          text-decoration:none;
/*          color:#98A754;*/
          background-color: lighten($middle-menucolor, 3%);
        }
      }
    }

    li.current {
      a{
        font-weight: bold;
        padding-top:0.75em;
        background-color: lighten($middle-menucolor, 20%);
      }
    }
  }
}

#at {
  font-size: 1.2em;
}

#content-main {
  min-height: 200px;
  a {
    color:#2B547D;
  }
  #content-main-loading {
    text-align: center;
    vertical-align: middle;
  }
  .content-body {
    margin: 1em 0;
    border: 1px solid #D6D1CA;
    background-color: #FFF;
    h2 {
      padding:1em 1em 0;
      border-bottom: 1px dashed #CCC;
    }
  }
  #myprofile-body {
    display: none;
    .tag-fields-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
    }
    .tag-row {
      padding: 0.5em 1em;
      text-align: left;
      .tag-field-name {
        color: #333;
        font-size: 1.2em;
      }
      .tag-field-data {
        font-size: 1.1em;
        .single-tag {
          position: relative;
          padding: 3px 15px 3px 8px;
          border-radius: 6px;
          -moz-border-radius: 6px;
          -webkit-box-shadow: 0px 0px 2px #A8B6D1;
          -moz-box-shadow: 0px 0px 2px #A8B6D1;
          background-color: #CAD8F3;
          border: 1px solid #A8B6D1;
          color: #333333;
          font: {
            size: 0.75em;
            weight: bold;
          }
          &:hover {
            background-color: lighten(#CAD8F3, 3%);
          }
          a.close {
            background: url("../images/close.gif") repeat scroll 0 0 transparent;
            display: block;
            font-size: 1px;
            height: 7px;
            position: absolute;
            right: 4px;
            text-indent: -1000px;
            top: 7px;
            width: 7px;
            &:hover {
              background-position: center;
            }
          }
        }
      }
    }
  }
  #search-body {
    #search-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
      span {
        font-size: 1.2em;
      }
      #search {
        width: 500px;
      }
    }
    #results-wrapper {
      border-top: 1px solid #666;
      background-color: #DDD;
      padding: 1em;
      h3 {
        margin-top: 1em;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}
