/*
  Aggregates all the middle container styles.
*/

#middle-wrapper {
  background:none repeat scroll 0 0 $middle-bgcolor;
  background-image: url('/site_media/images/bg_global.png');
  padding:0;
/*  height: 100%;  To preserve the light background */
  overflow: hidden; /* To preserve the light background */
}

#middle-container{
  overflow: visible; /* To make actions visible */
/*  height: 100%;  To preserve the light background */
}

#content-header-wrapper {
  height:80px;
  margin:0 0 2em;
  padding:0px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-box-shadow:0px 1px 1px #cfcfcf;
  -moz-box-shadow:0px 1px 1px #cfcfcf;
  background-color:#FFF;
  border: {
    width:0 1px 1px;
    style: solid;
    color: #D6D1CA;
  }
  overflow:hidden;
}

#content-header{
  height:80px;
  position:relative;
  overflow:hidden;

  h2 {
    padding:0.5em 1em;
    img {
      vertical-align: middle;
    }
    span {
      color: #9D6B00;
    }
  }

  ul {
    position:absolute;
    bottom:0px;
    right: 50px;
    font-size:1.2em;
    color:#FFF;
    text-shadow:none;

    li {
      padding:0 0 0.25em;
      a {
        padding:0.5em;
        background-color: $middle-menucolor;
        border-radius: 2px 2px 0 0;
        -moz-border-radius-topleft:2px;
        -moz-border-radius-topright:2px;
        &:hover{
          text-decoration:none;
/*          color:#98A754;*/
          background-color: lighten($middle-menucolor, 3%);
        }
      }
    }

    li.current {
      a{
        font-weight: bold;
        padding-top:0.75em;
        background-color: lighten($middle-menucolor, 20%);
      }
    }
  }
}

#at {
  font-size: 1.2em;
}

#content-main {
  min-height: 200px;
  a {
    color:#2B547D;
  }
  a.close {
    background: url("../images/close.gif") repeat scroll 0 0 transparent;
    font-size: 1px;
    height: 7px;
    text-indent: -1000px;
    width: 7px;
    &:hover {
      background-position: center;
    }
  }
  #content-main-loading {
    text-align: center;
    vertical-align: middle;
  }
  .content-body {
    margin: 1em 0;
    border: 1px solid #D6D1CA;
    background-color: #FFF;
    h2 {
      padding:1em 1em 0;
      border-bottom: 1px dashed #CCC;
      position: relative;
      span {
        position: absolute;
        right: 2em;
        bottom: 2px;
        font-size: 0.5em;
        img {
          vertical-align:text-bottom;
        }
      }
    }
  }
  #myprofile-body {
    display: none;
    .tag-fields-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
    }
    .tag-row {
      padding: 0.5em 1em;
      text-align: left;
      border-bottom: 1px solid #DFDFDF;
      div.actions-wrapper {
        display: none;
        height: 0;
        left: 0;
        position: relative;
        top: 0;
        width: 0;
        div.row-actions {
          border-radius: 12px;
          -moz-border-radius: 12px;
          background-color: #FFFFFF;
          font-size: 10px;
          height: 24px;
          line-height: 10px;
          margin: 0;
          padding: 7px 5px 0 7px;
          position: absolute;
          right: 0;
          top: 0;
          div.buttons {
            padding: 2px 0 0;
            white-space: nowrap;
          }
          span.button-action {
            padding: 0 2px;
            a {
              color: #FF0000;
              &:hover {
                color: #FF0000;
              }
            }
          }
          a.close {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .tag-field-name {
        color: #333;
        font-size: 1.2em;
      }
    }
    .tag-field-data {
      font-size: 1.1em;
      .single-tag {
        position: relative;
        padding: 3px 15px 3px 8px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-box-shadow: 0px 0px 2px #A8B6D1;
        -moz-box-shadow: 0px 0px 2px #A8B6D1;
        background-color: #CAD8F3;
        border: 1px solid #A8B6D1;
        color: #333333;
        font: {
          size: 0.75em;
          weight: bold;
        }
        &:hover {
          background-color: lighten(#CAD8F3, 3%);
        }
        a.close {
          display: block;
          position: absolute;
          right: 4px;
          top: 7px;
        }
      }
    }
    .new-field, .edit-field {
      background-color: $middle-form-bgcolor;
      margin: 1em 3em;
      padding: 2em;
      min-height: 100px;
      .single-tag {
        font-size: 1em; /* Resetting the font-size */
        display: inline-block;
        margin: 0.2em;
        padding-top: 0;
        padding-bottom: 0;
      }
      .button-wrapper {
        margin-top: 1em;
        text-align: center;
        a {
          color: #FF0000;
        }
      }
    }
    .new-field {
      display: none;
    }
    .edit-field {
      font-size: 0.8em;
      text-align: left;
    }
  }
  #search-body {
    #search-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
      span {
        font-size: 1.2em;
      }
      #search {
        width: 500px;
      }
    }
    #results-wrapper {
      border-top: 1px solid #666;
      background-color: $middle-bgcolor;
      padding: 1em;
      h3 {
        margin-top: 1em;
        text-align: center;
      }
      p {
        text-align: center;
      }
      #content-main-loading {
        display: none;
      }
    }
    .entry{
      position: relative;
      margin: 0;
      padding: 0.5em 0 0.25em 0.5em;
      border-bottom: 1px solid #8f8f8f;
    }
    .row-number{
      float:left;
      font-size: 1.5em;
      font-weight: bold;
      color: #AAA;
    }
    .actions-wrapper{
        display:none;
        float:right;
        position:relative;
    }
    div.row-actions {
      font-size: 10px;
      height: 24px;
      line-height: 10px;
      margin: 0;
      padding: 7px 5px 0 7px;
      position: absolute;
      right: 0;
      top: 0;
      div.buttons {
        padding: 2px 0 0;
        white-space: nowrap;
      }
      span.button-action {
        padding: 0 2px;
        a {
          color: #FF0000;
          &:hover {
            color: #FF0000;
          }
        }
      }
    }
    .tags-wrapper{
      padding-top: 0.5em;
      padding-bottom: 0;
      padding-left: 2em;
      min-height: 24px;
    }
    .tag-field-name{
      float:left;
      margin-right: 0.25em;
    }
    .tag-field-data{
      float: left;
      margin-right: 0.5em;
    }
    .tag-row {
      display: inline-block;
    }
    .uid{
      display:none;
    }
  }
  #upload-body {
    #upload-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
      div {
        margin:0 0 1em;
      }
      label {
        font-size: 1.2em;
        margin-right: 1em;
      }
      input[type="file"] {
      }
    }
    #upload-element {
      display:inline-block;
    }
    #file-list-wrapper {
      border-top: 1px solid #DFDFDF;
      padding: 1em;
      margin: 0 2em;
      h3 {
        margin-top: 1em;
        text-align: center;
      }
      .file-row{
        border-bottom: 1px solid #CFCFCF;
        width:100%;
        .tag-row {
          display: inline-block;
        }
      }
    }
    .file-id{
      float: right;
      display: none;
    }
    .file-data{
      padding: 0.5em;
      font-size: 1.2em;
      min-height: 24px;
      .actions-wrapper{
        display:none;
        float:right;
        position:relative;
      }
      div.row-actions {
        font-size: 10px;
        height: 24px;
        line-height: 10px;
        margin: 0;
        padding: 7px 5px 0 7px;
        position: absolute;
        right: 0;
        top: 0;
        div.buttons {
          padding: 2px 0 0;
        white-space: nowrap;
        }
        span.button-action {
          padding: 0 2px;
          a {
            color: #FF0000;
            &:hover {
              color: #FF0000;
            }
          }
        }
        a.close {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .tags-wrapper {
      display: none;
      padding: 0 0 0 2em;
      min-height: 24px;
    }
    .tag-field-name {
      float:left;
      margin-right: 0.25em;
    }
    .tag-field-data {
      float: left;
      margin-right: 0.5em;
    }
    .content-profile-edit {
      padding: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
      border: 1px solid #DDD;
      h3 {
        span {
          margin-left: 1em;
          font-size: 0.85em;
        }
        a.done-editing {
          color: #FF0000;
        }
      }
      h2 {
        font-size: 1.2em;
        .add-field{
          font-size: 1.4em;
        }
      }
     .tag-row {
        padding: 0.5em 4em;
        text-align: left;
        div.tag-row-border-wrapper {
          border-bottom: 1px solid #DFDFDF;
        }
        div.actions-wrapper {
          display: none;
          height: 0;
          left: 0;
          position: relative;
          top: 0;
          width: 0;
          div.row-actions {
            border-radius: 12px;
            -moz-border-radius: 12px;
            background-color: #FFFFFF;
            font-size: 10px;
            height: 24px;
            line-height: 10px;
            margin: 0;
            padding: 7px 5px 0 7px;
            position: absolute;
            right: 0;
            top: 0;
            div.buttons {
              padding: 2px 0 0;
              white-space: nowrap;
            }
            span.button-action {
              padding: 0 2px;
              a {
                color: #FF0000;
                &:hover {
                  color: #FF0000;
                }
              }
            }
            a.close {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .tag-field-name {
          color: #333;
          margin-top: 0.5em;
        }
        .tag-field-data {
          margin-top: 0.25em;
        }
      }
    .tag-field-data {
      .single-tag {
          margin: 0.2em;
          line-height: 22px; /* FIXME: This is a WORKAROUND */
          position: relative;
          padding: 3px 15px 3px 8px;
          border-radius: 6px;
          -moz-border-radius: 6px;
          -webkit-box-shadow: 0px 0px 2px #A8B6D1;
          -moz-box-shadow: 0px 0px 2px #A8B6D1;
          background-color: #CAD8F3;
          border: 1px solid #A8B6D1;
          color: #333333;
          font: {
            size: 0.75em;
            weight: bold;
          }
          &:hover {
            background-color: lighten(#CAD8F3, 3%);
          }
          a.close {
            display: block;
            position: absolute;
            right: 6px; /* FIXME: make it compatible */
            top: 5px; /* FIXME: make it compatible */
          }
        }
      }
     .new-field, .edit-field {
        background-color: $middle-form-bgcolor;
        margin: 1em 3em;
        padding: 2em;
        min-height: 100px;
        .single-tag {
          font-size: 1em; /* Resetting the font-size */
          display: inline-block;
          margin: 0.2em;
          padding-top: 0;
          padding-bottom: 0;
        }
        .button-wrapper {
          margin-top: 1em;
          text-align: center;
          a {
            color: #FF0000;
          }
        }
      }
      .new-field {
        display: none;
        .tag-field-data {
          .single-tag {
            a.close {
              right: 4px; /* FIXME: make it compatible */
              top: 7px; /* FIXME: make it compatible */
            }
          }
        }
      }
      .edit-field {
        text-align: left;
        .tag-field-data {
          .single-tag {
            a.close {
              right: 4px; /* FIXME: make it compatible */
              top: 7px; /* FIXME: make it compatible */
            }
          }
        }
      }
    }
  }

  #friends-body {
    #frequests-list-wrapper, #friend-list-wrapper {
      font-size: 1.25em;
      text-align: center;
      padding: 0.5em 1em 2em;
    }
    .friend-card {
      background-color: #F5F5F5;
      min-height: 170px;
      -webkit-box-shadow:0px 0px 4px #8f8f8f;
      -moz-box-shadow:0px 0px 4px #8f8f8f;
      box-shadow:0px 0px 4px #8f8f8f;
    }
    .friend-thumb {
      background-color: #FFF;
      border: 1px solid #DDD;
      padding: 4px;
      margin-top: 0.75em;
      &:hover {
        border: 1px solid #CCC;
      }
    }
    .friends-row {
      margin: 0.5em 0;
    }
    .friend-uid {
      display:none;
    }
    .friend-name {
      padding: 0.5em;
      word-wrap: break-word;
    }
    img.friend-request-thumb {
      float:left;
      vertical-align: text-top;
    }
    .friend-request-row {
      padding:1em;
      border-bottom: 1px solid #ddd;
      .friend-name {
        float: left;
        padding-top:1em;
      }
      .notification-message {
        margin-left: 0.5em;
        display: inline-block;
        padding-top: 1em;
      }
      .button-action {
        display: inline-block;
        padding-top:1em;
        margin:0.5em 0.1em;
      }
    }
  }
}
