@font-face {
  font-family: 'RoughTypeWriter';
  src: url('../images/rough_typewriter.otf');
}

$even-row-bgcolor: #FFFFFF;
$odd-row-bgcolor: #EFEFEF;

$body-bgcolor: #222222;
$header-bgcolor: #382f24;
$header-color: #ffffff;
$middle-bgcolor: #E8F1F9;
$middle-form-bgcolor: #EFEFEF;
$middle-menucolor: #414E5B;
$footer-color: #787878;
$footer-title-color: #98A754;

@import "base_elements";
@import "loading_indicator";
@import "header_wrapper";
@import "middle_wrapper";
@import "footer_wrapper";
@import "common_forms";

/*** COMMON CSS ***/

.even-row{
  background-color: $even-row-bgcolor;
  &:hover {
    background-color: darken($even-row-bgcolor, 10%);
  }
}
.odd-row{
  background-color: $odd-row-bgcolor;
  &:hover {
    background-color: darken($odd-row-bgcolor, 5%);
  }
}

/* One-line list */
ul.horizontal {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul.horizontal li{
  display:inline;
  float:left;
  margin:0 5px;
}
