@font-face {
  font-family: 'RoughTypeWriter';
  src: url("../images/rough_typewriter.otf");
}

/* 
  This is a base partial, which holds the basic element styles.
  We may split it in more files in the near future.
*/
/* line 6, ../src/_base_elements.scss */
html {
  height: 100%;
}

/* line 10, ../src/_base_elements.scss */
body {
  height: 100%;
  background-color: #222222;
  text-shadow: 1px 0px #FFF;
}

/* Override for Blueprint css */
/* line 17, ../src/_base_elements.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 20, ../src/_base_elements.scss */
a:visited {
  color: inherit;
  text-decoration: none;
}
/* line 24, ../src/_base_elements.scss */
a:hover {
  color: inherit;
  text-decoration: underline;
}

/*** Loading Indicator ***/
/* line 2, ../src/_loading_indicator.scss */
#loading-indicator {
  width: 100%;
  text-align: center;
  top: 0px;
  position: fixed;
  z-index: 10000;
  display: none;
}

/* line 11, ../src/_loading_indicator.scss */
#loading-indicator div {
  display: inline-block;
  padding: 2px 1em 3px 2em;
  border-radius-bottomright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-radius-bottomleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  color: #666;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #fff8f8;
  box-shadow: 1px 1px 1px #EEE;
  -moz-box-shadow: 1px 1px 1px #EEE;
  -webkit-box-shadow: 1px 1px 1px #EEE;
}

/*
  Summarizes styles for the header part of the page.
*/
/* line 6, ../src/_header_wrapper.scss */
#header-wrapper {
  height: 91px;
  background-color: #382f24;
  background-image: url("../images/header-bg.png");
  color: white;
  border-bottom: 2px solid #DDDDDD;
  text-shadow: 1px 0px #333;
}

/* line 17, ../src/_header_wrapper.scss */
#userbox {
  float: right;
  font-size: 12px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0 0px 3px #223C51;
  -moz-box-shadow: 0 0px 3px #223C51;
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#957d60), to(#574938));
  background: -moz-linear-gradient(270deg, #957d60, #574938) repeat scroll 0 0 transparent;
  background-color: #574938;
  border-color: #957d60;
  border-style: double;
  border-width: 1px;
}
/* line 32, ../src/_header_wrapper.scss */
#userbox #avatar-wrapper {
  display: inline;
  float: left;
}
/* line 35, ../src/_header_wrapper.scss */
#userbox #avatar-wrapper img {
  border: 1px solid #FFFFFF;
  margin-right: 3px;
  margin-top: -3px;
  vertical-align: middle;
}
/* line 43, ../src/_header_wrapper.scss */
#userbox ul {
  display: inline;
}

/* line 48, ../src/_header_wrapper.scss */
#global-menu {
  padding-top: 28px;
  font-size: 16px;
  font-weight: bold;
}
/* line 53, ../src/_header_wrapper.scss */
#global-menu ul li {
  margin: 0 1em;
}
/* line 55, ../src/_header_wrapper.scss */
#global-menu ul li a {
  padding: 0.25em;
}
/* line 57, ../src/_header_wrapper.scss */
#global-menu ul li a:hover {
  text-decoration: none;
  color: #98A754;
  text-shadow: 1px 1px 1px #333;
}

/* line 67, ../src/_header_wrapper.scss */
#logo a {
  font-size: 5em;
  font-family: 'RoughTypeWriter';
}
/* line 70, ../src/_header_wrapper.scss */
#logo a sup {
  font-size: 0.25em;
  font-family: 'Verdana';
  color: #ff0000;
}
/* line 71, ../src/_header_wrapper.scss */
#logo a:hover {
  text-decoration: none;
}
/* line 73, ../src/_header_wrapper.scss */
#logo span {
  font-size: 1.2em;
  color: #8f8f8f;
}

/*
  Aggregates all the middle container styles.
*/
/* line 5, ../src/_middle_wrapper.scss */
#middle-wrapper {
  background: none repeat scroll 0 0 #e8f1f9;
  padding: 0;
  /*  height: 100%;  To preserve the light background */
  overflow: hidden;
  /* To preserve the light background */
}

/* line 12, ../src/_middle_wrapper.scss */
#middle-container {
  overflow: visible;
  /* To make actions visible */
  /*  height: 100%;  To preserve the light background */
}

/* line 17, ../src/_middle_wrapper.scss */
#content-header-wrapper {
  height: 80px;
  margin: 0 0 2em;
  padding: 0px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-box-shadow: 0px 1px 1px #cfcfcf;
  -moz-box-shadow: 0px 1px 1px #cfcfcf;
  background-color: #FFF;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #D6D1CA;
  overflow: hidden;
}

/* line 35, ../src/_middle_wrapper.scss */
#content-header {
  height: 80px;
  position: relative;
  overflow: hidden;
}
/* line 40, ../src/_middle_wrapper.scss */
#content-header h2 {
  padding: 0.5em 1em;
}
/* line 42, ../src/_middle_wrapper.scss */
#content-header h2 img {
  vertical-align: middle;
}
/* line 45, ../src/_middle_wrapper.scss */
#content-header h2 span {
  color: #9D6B00;
}
/* line 50, ../src/_middle_wrapper.scss */
#content-header ul {
  position: absolute;
  bottom: 0px;
  right: 50px;
  font-size: 1.2em;
  color: #FFF;
  text-shadow: none;
}
/* line 58, ../src/_middle_wrapper.scss */
#content-header ul li {
  padding: 0 0 0.25em;
}
/* line 60, ../src/_middle_wrapper.scss */
#content-header ul li a {
  padding: 0.5em;
  background-color: #414e5b;
  border-radius: 2px 2px 0 0;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
}
/* line 66, ../src/_middle_wrapper.scss */
#content-header ul li a:hover {
  text-decoration: none;
  /*          color:#98A754;*/
  background-color: #475664;
}
/* line 75, ../src/_middle_wrapper.scss */
#content-header ul li.current a {
  font-weight: bold;
  padding-top: 0.75em;
  background-color: #6c8196;
}

/* line 84, ../src/_middle_wrapper.scss */
#at {
  font-size: 1.2em;
}

/* line 88, ../src/_middle_wrapper.scss */
#content-main {
  min-height: 200px;
}
/* line 90, ../src/_middle_wrapper.scss */
#content-main a {
  color: #2B547D;
}
/* line 93, ../src/_middle_wrapper.scss */
#content-main a.close {
  background: url("../images/close.gif") repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 7px;
  text-indent: -1000px;
  width: 7px;
}
/* line 99, ../src/_middle_wrapper.scss */
#content-main a.close:hover {
  background-position: center;
}
/* line 103, ../src/_middle_wrapper.scss */
#content-main #content-main-loading {
  text-align: center;
  vertical-align: middle;
}
/* line 107, ../src/_middle_wrapper.scss */
#content-main .content-body {
  margin: 1em 0;
  border: 1px solid #D6D1CA;
  background-color: #FFF;
}
/* line 111, ../src/_middle_wrapper.scss */
#content-main .content-body h2 {
  padding: 1em 1em 0;
  border-bottom: 1px dashed #CCC;
  position: relative;
}
/* line 115, ../src/_middle_wrapper.scss */
#content-main .content-body h2 span {
  position: absolute;
  right: 2em;
  bottom: 2px;
  font-size: 0.5em;
}
/* line 120, ../src/_middle_wrapper.scss */
#content-main .content-body h2 span img {
  vertical-align: text-bottom;
}
/* line 126, ../src/_middle_wrapper.scss */
#content-main #myprofile-body {
  display: none;
}
/* line 128, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-fields-wrapper {
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 1em 2em;
}
/* line 133, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row {
  padding: 0.5em 1em;
  text-align: left;
  border-bottom: 1px solid #DFDFDF;
}
/* line 137, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper {
  display: none;
  height: 0;
  left: 0;
  position: relative;
  top: 0;
  width: 0;
}
/* line 144, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions {
  border-radius: 12px;
  -moz-border-radius: 12px;
  background-color: #FFFFFF;
  font-size: 10px;
  height: 24px;
  line-height: 10px;
  margin: 0;
  padding: 7px 5px 0 7px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 156, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions div.buttons {
  padding: 2px 0 0;
  white-space: nowrap;
}
/* line 160, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions span.button-action {
  padding: 0 2px;
}
/* line 162, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions span.button-action a {
  color: #FF0000;
}
/* line 164, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions span.button-action a:hover {
  color: #FF0000;
}
/* line 169, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row div.actions-wrapper div.row-actions a.close {
  display: inline-block;
  vertical-align: middle;
}
/* line 175, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-row .tag-field-name {
  color: #333;
  font-size: 1.2em;
}
/* line 180, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-field-data {
  font-size: 1.1em;
}
/* line 182, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-field-data .single-tag {
  position: relative;
  padding: 3px 15px 3px 8px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 0px 0px 2px #A8B6D1;
  -moz-box-shadow: 0px 0px 2px #A8B6D1;
  background-color: #CAD8F3;
  border: 1px solid #A8B6D1;
  color: #333333;
  font-size: 0.75em;
  font-weight: bold;
}
/* line 196, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-field-data .single-tag:hover {
  background-color: #d6e1f6;
}
/* line 199, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .tag-field-data .single-tag a.close {
  display: block;
  position: absolute;
  right: 4px;
  top: 7px;
}
/* line 207, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .new-field, #content-main #myprofile-body .edit-field {
  background-color: #efefef;
  margin: 1em 3em;
  padding: 2em;
  min-height: 100px;
}
/* line 212, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .new-field .single-tag, #content-main #myprofile-body .edit-field .single-tag {
  font-size: 1em;
  /* Resetting the font-size */
  display: inline-block;
  margin: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 219, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .new-field .button-wrapper, #content-main #myprofile-body .edit-field .button-wrapper {
  margin-top: 1em;
  text-align: center;
}
/* line 222, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .new-field .button-wrapper a, #content-main #myprofile-body .edit-field .button-wrapper a {
  color: #FF0000;
}
/* line 227, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .new-field {
  display: none;
}
/* line 230, ../src/_middle_wrapper.scss */
#content-main #myprofile-body .edit-field {
  font-size: 0.8em;
  text-align: left;
}
/* line 236, ../src/_middle_wrapper.scss */
#content-main #search-body #search-wrapper {
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 1em 2em;
}
/* line 240, ../src/_middle_wrapper.scss */
#content-main #search-body #search-wrapper span {
  font-size: 1.2em;
}
/* line 243, ../src/_middle_wrapper.scss */
#content-main #search-body #search-wrapper #search {
  width: 500px;
}
/* line 247, ../src/_middle_wrapper.scss */
#content-main #search-body #results-wrapper {
  border-top: 1px solid #666;
  background-color: #e8f1f9;
  padding: 1em;
}
/* line 251, ../src/_middle_wrapper.scss */
#content-main #search-body #results-wrapper h3 {
  margin-top: 1em;
  text-align: center;
}
/* line 255, ../src/_middle_wrapper.scss */
#content-main #search-body #results-wrapper p {
  text-align: center;
}
/* line 258, ../src/_middle_wrapper.scss */
#content-main #search-body #results-wrapper #content-main-loading {
  display: none;
}
/* line 262, ../src/_middle_wrapper.scss */
#content-main #search-body .tags-wrapper {
  padding: 0 0 0 2em;
  min-height: 24px;
}
/* line 266, ../src/_middle_wrapper.scss */
#content-main #search-body .tag-field-name {
  float: left;
  margin-right: 0.25em;
}
/* line 270, ../src/_middle_wrapper.scss */
#content-main #search-body .tag-field-data {
  float: left;
  margin-right: 0.5em;
}
/* line 274, ../src/_middle_wrapper.scss */
#content-main #search-body .uid {
  display: none;
}
/* line 277, ../src/_middle_wrapper.scss */
#content-main #search-body .entry {
  margin: 1em 0;
}
/* line 280, ../src/_middle_wrapper.scss */
#content-main #search-body .row-number {
  font-size: 1.5em;
  font-weight: bold;
  color: #AAA;
}
/* line 287, ../src/_middle_wrapper.scss */
#content-main #upload-body #upload-wrapper {
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 1em 2em;
}
/* line 291, ../src/_middle_wrapper.scss */
#content-main #upload-body #upload-wrapper div {
  margin: 0 0 1em;
}
/* line 294, ../src/_middle_wrapper.scss */
#content-main #upload-body #upload-wrapper label {
  font-size: 1.2em;
  margin-right: 1em;
}
/* line 301, ../src/_middle_wrapper.scss */
#content-main #upload-body #upload-element {
  display: inline-block;
}
/* line 304, ../src/_middle_wrapper.scss */
#content-main #upload-body #file-list-wrapper {
  border-top: 1px solid #DFDFDF;
  padding: 1em;
  margin: 0 2em;
}
/* line 308, ../src/_middle_wrapper.scss */
#content-main #upload-body #file-list-wrapper h3 {
  margin-top: 1em;
  text-align: center;
}
/* line 312, ../src/_middle_wrapper.scss */
#content-main #upload-body #file-list-wrapper .file-row {
  border-bottom: 1px solid #CFCFCF;
  width: 100%;
}
/* line 317, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-id {
  float: right;
  display: none;
}
/* line 321, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data {
  padding: 0.5em;
  font-size: 1.2em;
  min-height: 24px;
}
/* line 325, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data .actions-wrapper {
  display: none;
  float: right;
  position: relative;
}
/* line 330, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions {
  font-size: 10px;
  height: 24px;
  line-height: 10px;
  margin: 0;
  padding: 7px 5px 0 7px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 339, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions div.buttons {
  padding: 2px 0 0;
  white-space: nowrap;
}
/* line 343, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions span.button-action {
  padding: 0 2px;
}
/* line 345, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions span.button-action a {
  color: #FF0000;
}
/* line 347, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions span.button-action a:hover {
  color: #FF0000;
}
/* line 352, ../src/_middle_wrapper.scss */
#content-main #upload-body .file-data div.row-actions a.close {
  display: inline-block;
  vertical-align: middle;
}
/* line 358, ../src/_middle_wrapper.scss */
#content-main #upload-body .tags-wrapper {
  display: none;
  padding: 0 0 0 2em;
  min-height: 24px;
}
/* line 363, ../src/_middle_wrapper.scss */
#content-main #upload-body .tag-field-name {
  float: left;
  margin-right: 0.25em;
}
/* line 367, ../src/_middle_wrapper.scss */
#content-main #upload-body .tag-field-data {
  float: left;
  margin-right: 0.5em;
}
/* line 374, ../src/_middle_wrapper.scss */
#content-main #friends-body #frequests-list-wrapper, #content-main #friends-body #friend-list-wrapper {
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 1em 2em;
}
/* line 379, ../src/_middle_wrapper.scss */
#content-main #friends-body .friend-card {
  background-color: #F5F5F5;
  min-height: 170px;
  -webkit-box-shadow: 0px 0px 4px #8f8f8f;
  -moz-box-shadow: 0px 0px 4px #8f8f8f;
  box-shadow: 0px 0px 4px #8f8f8f;
}
/* line 386, ../src/_middle_wrapper.scss */
#content-main #friends-body .friend-thumb {
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 4px;
  margin-top: 0.75em;
}
/* line 391, ../src/_middle_wrapper.scss */
#content-main #friends-body .friend-thumb:hover {
  border: 1px solid #CCC;
}
/* line 395, ../src/_middle_wrapper.scss */
#content-main #friends-body .friends-row {
  margin: 0.5em 0;
}
/* line 398, ../src/_middle_wrapper.scss */
#content-main #friends-body .friend-uid {
  display: none;
}
/* line 401, ../src/_middle_wrapper.scss */
#content-main #friends-body .friend-name {
  padding: 0.5em;
}

/*
  Aggregates all the footer specific style.
*/
/* line 5, ../src/_footer_wrapper.scss */
#footer-wrapper {
  background-color: #222222;
  border-top: 2px solid #666;
  clear: both;
  color: #787878;
  padding-top: 20px;
}

/* line 13, ../src/_footer_wrapper.scss */
#footer-container {
  text-shadow: 1px 0 #000;
}
/* line 15, ../src/_footer_wrapper.scss */
#footer-container ul {
  list-style-type: none;
}
/* line 18, ../src/_footer_wrapper.scss */
#footer-container li.title {
  font-size: 1.2em;
  font-weight: bold;
  color: #98a754;
}
/* line 23, ../src/_footer_wrapper.scss */
#footer-container blockquote {
  font-size: 1.5em;
  color: #98a754;
}

/* line 2, ../src/_common_forms.scss */
input[type="text"] {
  font-size: 1.1em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #EEEEEE;
  -moz-box-shadow: 1px 1px 3px #EEEEEE;
  height: 26px;
  min-width: 280px;
}

/* line 12, ../src/_common_forms.scss */
select {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #EEEEEE;
  -moz-box-shadow: 1px 1px 3px #EEEEEE;
  min-width: 180px;
}

/* line 20, ../src/_common_forms.scss */
table.search-select {
  border-bottom: 1px solid #E7E7E7;
  margin: 0.5em 0;
  text-align: center;
  padding: 0;
  /* The following 2 params are important in order to preserve center alignment */
  display: inline-block;
  width: auto;
}
/* line 28, ../src/_common_forms.scss */
table.search-select td {
  height: 26px;
  padding: 0;
}
/* line 32, ../src/_common_forms.scss */
table.search-select input#search {
  margin: 0;
}

/*** COMMON CSS ***/
/* line 30, ../src/base.scss */
.info {
  background-color: #f5f5f5;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  font-size: 0.85em;
  font-style: italic;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 40, ../src/base.scss */
.even-row {
  background-color: white;
}
/* line 42, ../src/base.scss */
.even-row:hover {
  background-color: #e6e6e6;
}

/* line 46, ../src/base.scss */
.odd-row {
  background-color: #efefef;
}
/* line 48, ../src/base.scss */
.odd-row:hover {
  background-color: #e2e2e2;
}

/* One-line list */
/* line 54, ../src/base.scss */
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 60, ../src/base.scss */
ul.horizontal li {
  display: inline;
  float: left;
  margin: 0 5px;
}
